:root{
  --main-highlight: #ECB365;
  --main-contrast: #064663;
  --main-side: #04293A;
  --main-background: #041C32;

}

* {
  padding: 0;
  margin: 0;
  color: var(--main-highlight);
}

li{
  list-style: none;
}

.wrapper{
  height: 100vh;
  display: grid;
  grid: "sidebar header" 1fr
        "sidebar dashboard" 5.5fr
        / 1fr 4fr;
  overflow: auto;
}

.sidebar{
  grid-area: sidebar;
  background-color: var(--main-side);
  color: var(--main-highlight);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo {
  font-size: 36px;
}

.nav {
  font-size: 24px;
}

.header{
  grid-area: header;
  background-color: var(--main-highlight);
}

h3 {
  color: var(--main-background);
}

.dashboard{
  grid-area: dashboard;
  padding: 30px 20px 50px 20px;
  background-color: var(--main-background);
  display: grid;
  grid: "projects announcements" 1fr
        "projects trending" 1fr
        / 3fr 1fr;
  gap: 20px;
}

.projects{
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.project-cards{
  height: 100%;
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

.card{
  background-color: var(--main-contrast);
}

.announcements{
  display: flex;
  flex-direction: column;
  grid-area: announcements;
}

.trending{
  display: flex;
  flex-direction: column;
  grid-area: trending;
  height: 100%;
}
.container {
  background-color: var(--main-contrast);
  height: 100%;
}

.card, .container{
  border-radius: 15px;
  padding: 15px;
}