@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;700&display=swap');

:root{
  --main-foreground: #DED93E;
  --main-background: #FFA303;
  --main-header: #FFCD58;
  --main-side: #F76201;
  --main-font-color: #3B0918;
}

/* :root{
  --main-foreground: #FBFAF8;
  --main-background: #e7decd;
  --main-header: #9cc274;
  --main-side: #698f3f;
  --main-font-color: #0a122a;
} */

/* :root{
  --main-foreground: #11579a;
  --main-background: #041C32;
  --main-header: #0f5a7d;
  --main-side: #04293A;
  --main-font-color: rgb(80, 169, 191);
}  */

* {
  padding: 0;
  margin: 0;
  color: var(--main-font-color);
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
}

li{
  list-style: none;
}

.wrapper{
  height: 100vh;
  display: grid;
  grid: "sidebar header" 1fr
        "sidebar dashboard" 5.5fr
        / 1fr 4fr;
  overflow: auto;
}

.sidebar{
  padding: 15px;
  grid-area: sidebar;
  background-color: var(--main-side);
  color: var(--main-highlight);
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  z-index: 3;
  font-weight: 700;
}

.logo {
  font-size: 36px;
}

.nav li {
  font-size: 24px;
}

.header{
  padding: 15px 50px;
  grid-area: header;
  background-color: var(--main-header);
  position: relative;
  z-index: 2;
  display: grid;
  grid: "top" 1fr "heading" 1fr / 1fr;
}

.top{
  grid-area: top;
  width: 100%;
  gap: 150px;
  display: flex;
  justify-content: end;
  align-self: start;
  align-items: center;
}

.search{
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}

input[type="search"]{
  background-color: var(--main-background);
  border-radius: 15px;
  border: none;
  padding-left: 5px;
  outline: none;
  height: 30px;
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.account{
  gap: 15px;
  display: flex;
  align-items: center;
}

.account img{
  height: 50px;
  width: auto;
}

.account-name{
  font-size: 20px;
  font-weight: 700;
  width: max-content;
}

.heading{
  grid-area: heading;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome{
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome img {
  height: 75px;
}

img{
  border-radius: 50px;
}

.user-name{
  font-size: 24px;
  font-weight: 700;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 15px;
}

button{
  background-color: var(--main-side);
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 30px;
}

.dashboard{
  grid-area: dashboard;
  padding: 30px 20px 50px 20px;
  background-color: var(--main-background);
  display: grid;
  grid: "projects announcements" 1fr
  "projects trending" 1fr
  / 3fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.projects{
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.project-cards{
  height: 100%;
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

.card{
  background-color: var(--main-contrast);
}

.announcements{
  display: flex;
  flex-direction: column;
  grid-area: announcements;
}

.trending{
  display: flex;
  flex-direction: column;
  grid-area: trending;
  height: 100%;
}
.container {
  height: 100%;
}

.card, .container{
  border-radius: 15px;
  padding: 15px;
  background-color: var(--main-foreground);
}

.card, .container, .header, .sidebar{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}